@model MVCKÜTÜPHANE.Models.Entity.Tbl_Kitap
@{
    ViewBag.Title = "KitapGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<title> Kitap Güncelleme Sayfası </title>
<div style="background-color:white">
    <h2>Kitap Güncelleme Sayfası</h2>
</div>
<br />
@using (Html.BeginForm("KitapGüncelle", "Kitap", FormMethod.Post))
{
    <label> Kitap ID</label>
    @Html.TextBoxFor(k => k.KitapID, new { @class = "form-control" })
    <br />
    <label> Kitap ADI</label>
    @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
    <br />
    <label> Kategori </label>
   @Html.DropDownListFor(k => k.Tbl_Category.CategoryID, (List<SelectListItem>)ViewBag.lst1, new { @class="form-control"})
    <br />
    <label> Yazar </label>
   @Html.DropDownListFor(k => k.Tbl_Yazar.YazarID, (List<SelectListItem>)ViewBag.lst2, new { @class="form-control"})
    <br />
    <label> Basım Yılı </label>
    @Html.TextBoxFor(k => k.BASIMYILI, new { @class = "form-control" })
    <br />
    <label> Yayınevi </label>
    @Html.TextBoxFor(k => k.YAYINEVİ, new { @class = "form-control" })
    <br />
    <label> Sayfa Sayısı </label>
    @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
}


